@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Dosis:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Inconsolata:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:200);
@import url(http://fonts.googleapis.com/css?family=Nixie+One);
@font-face {
font-family: MoskLight;

src: url("../fonts/MoskLight.ttf") ;
}

@font-face {
font-family: libel-suit-rg;

src: url("../fonts/libel-suit-rg.ttf") ;
}


/*Raleway*/
@font-face {
    font-family: Raleway-Regular;
    src: url("../fonts/Raleway-Regular.ttf");
}
.raleway {font-family: libel-suit-rg;}
.large2 {font-size: 3rem;
  letter-spacing: 2px;
 text-align: center;
}

.push{
 
   padding-left: 80px;
   color:#676A6B;
}


/*** RESET Styles**/


body {
	font-size: 18px !important;
	background: #F0F0F0!important;

    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    
    color: #777;
    font-family: 'Raleway', sans-serif;
    line-height: 1.8;
}



.font-head {
    font-family: Nixie+One;
    
    text-align: center;
    color: #fff;
    letter-spacing: 1px;
}



.font-alt {
    
     font-family: "Inconsolata", serif;
    text-align: center;
    color: #333;
    letter-spacing: 1px;
}


.font-inc {
    
    font-family: "Dosis", sans-serif;
    text-align: center;
    color: #000;
}

.font-test {
  margin: 5px 0;
  font-family: "Lato";
  background-color: #F0F0F0;
  font-weight: 300;
  font-size: 20px;
  color: #333;
  position: relative;
  height: auto;
  overflow: hidden;
}

.font-rale {
    
    font-family:libel-suit-rg;
    color: #000;  
    font-size: 1.2em;
    letter-spacing: 2px;
}




.font-babe{

  font-family: 'Raleway', sans-serif;
  line-height: 35px;
  font-weight: 900;

}

.font-ralep {
    
    font-family: Raleway;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 0.9em;
}


.section-title.center {
    padding: 30px 0;
  }
  
  .section-title h2,
  .section-title.center h2 {
    font-weight: 300;
  }
  
  .section-title.center .line {
    border-top: 4px solid #015875;
    height: 10px;
    width: 70px;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
  }
  
  .section-title.center hr {
    border-top: 4px solid #015875;
    width: 40px;
    text-align: center;
    margin-top: 10px;
    position: relative;
    left: 5%;
  }

/* Navigation */
  
  #tf-menu {

    
    transition: all 0.8s;
    background-color: white !important;
  }
  
  #tf-menu.navbar-default {
    background-color: rgba(248, 248, 248, 0);
    border-color: rgba(231, 231, 231, 0);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.02), 0 2px 2px 0 rgba(0, 0, 0, 0.02);

  }
  
  #tf-menu a.navbar-brand {
 
  margin-bottom: 60px;
  font-family: MoskLight;
  font-size: 33px;
  color: #333;
  font-weight: 900;
  }

  #tf-menu.navbar-default .navbar-nav > li > a {
   margin-top: 50px;
    color: #777;    
    font-size: 16px !important;
    letter-spacing: 1px;
    
  }

  #tf-menu.navbar-default .navbar-nav > li > a:hover{
    background-color: #F0F0F0;
  }
  
  .on {
    background-color: #222222 !important;
    padding: 0 !important;
  }

  
  .navbar-toggle {
    border-radius: 0;
  }
    
  .navbar-default .navbar-toggle:hover>.icon-bar {
    background-color: #FFF;
  }


/*** HEADER styles**/

  header {  
    background:linear-gradient( to bottom,
    rgba(255,255,255,0.25),
    rgba(255,255,255,1.00)),
    url("../assets/peakline.jpg");
    background-size: cover;
    background-position: center;
    /*background-attachment: fixed;*/
    background-repeat: no-repeat;
    color: #172a3a;
    height: 100vh;
    padding-top: 60px;
  }
  
  header::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
}

.words{
  width:100%;
  height: 100%;
  padding-left: 20px;
  padding-top: 20vh;
  
 
}


header h1 {
  font-size:70px;
  line-height: 1em;
  margin-bottom:18px;
  letter-spacing: 5px;
  color: #333;
  
}

header p{
  
  color: #333;
  letter-spacing:2px;
  font-size:18px;
  line-height: 1em;
  margin:none;
}




@media (max-width: 500px) {

  header h1 {
  font-size:50px;
  line-height: 1em; 
  letter-spacing: 1px;
  color: #333;
  
}


header p{
  
  color: #333;
  letter-spacing:1px;
  font-size:10px;
  line-height: 1em;
  margin:none;
}


#tf-menu.navbar-default .navbar-nav > li > a {
  margin-top: 20px;
    
}
  
 
  
}



.seemore{
  display: inline-block;
  margin-left: 10px;
  font-family: libel-suit-rg;
  max-width: 100%;
  padding: 3px;
  width: 200px;
  margin-top: 50px;
  text-align: center;
  border-radius: 25px;
  font-size: 2rem;
  letter-spacing: 2px;
  border: 1px solid #333;
  background-color:#333 ;
  color: #fff;
  transition: all .2s ease;
}
.seemore:hover{
  background-color:transparent;
  color: #333;
}
.seemore a{
 color: #0066ff;
  font-family: libel-suit-rg;
  margin-top: 5px;

}

.seemore a:hover{
 color: #333;
  font-family: libel-suit-rg;
  margin-top: 5px;
  text-decoration: none;

}



h1{
  /*font-family: "Inconsolata", serif;*/
  font-family: libel-suit-rg;
  color: #333;
  letter-spacing: 4px;
  font-size: 3.5em;
  
}

.h1s{
  /*font-family: "Inconsolata", serif;*/
  font-family: libel-suit-rg;
  color: #333;
  text-align: center;
  letter-spacing: 4px;
  font-size: 2.5em;

  
}

/** SERVICES styles**/


.about .row {
	background: #fff;	
	height: auto;
  padding-bottom: 100px;

}

/*** ABOUT styles**/

@media only screen and (min-width: 641px) {

	header {
		padding-bottom: 130px;
	}

	.about .row {
		margin-top: -50px;
	}   
}


/*service section */

.service{
	background: #F0F0F0 !important;
}

.serviceimg{

  background: 
  linear-gradient( to bottom,
    rgba(255,255,255,0.55),
    rgba(255,255,255,0.55)
  ),url("../assets/pr.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;


}

.serviceimgtext{
  margin-top: 60px;
  padding: 50px;
  color: #333;

  border: 10px solid #333;
 
}

.servicetext{
  padding: 10px;
  background:#F0F0F0 !important;
  height: 100%;

}

.kagrey{
  background-color: #333;
}

.servicetext-sub{
  padding-top: 20px;
}


.content-box{
	background-color: #fff;
  margin-bottom: 40px;
  }

.content-box:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.content-box-text{
  font-size: 16px;

}

.box{
padding: 20px;
}

.content-box-icon {
    font-size: 2em;
  /*  border: 1px solid #FCAC45;*/
    width: 50px;
    height: 50px;
    padding: 10px 12px;
/*    margin-bottom: 10px;*/
    /*border-radius: 50%;*/
    transition: all 0.5s;
  }

  .black{
    background-color: #333;
  }

  


/*our approach section/*about section*/
  
  #whyus {
    /*padding: 50px 0;*/
    padding-bottom: 50px;
    background: #fff !important;

  }

 .whyusbox{
 	/*border-top: 1px solid #999;*/
  }
  
  .space {
    margin-top: 40px;
  }



  
.dotted { border: 2px dotted #EEBB5D;
 border-style: none none dotted; 
 color: #fff; 
 background-color: #F0F0F0; }


.timeline{

  /*height: 80px;*/
  overflow: hidden;
 width: 100%;

}

.col-1-3 {
   float: left;
}


.timeline .content-box-icon {
    font-size: 10px;
    border: 1px solid #EEBB5D;
    width: 90px;
    height: 90px;
    padding: 12px 12px;
    margin-bottom: 10px;
    border-radius: 50%;
    transition: all 0.5s;
  }
.tabsec{
  background-color:#F0F0F0; 
}
#tabs {
  width: 100%;

}

.tab {
 
  width: 250px;
  text-align: center;
  display: inline-block;
  border: 1px solid #F0F0F0;
   font-family: "Raleway";
  padding:10px;
  margin: 10px;
  font-weight: 900;
  color: #777;
  cursor: pointer;
  
}


  /* .tab {
    
  text-align: center;
  display: inline-block;
  font-family: Lato;
    font-size: 20px;
    border: 1px solid #F0F0F0;
    width: 163px;
    height: 163px;
    margin-left: 50px;
    padding: 27px 25px;
    margin-bottom: 10px;
    border-radius: 50%;
    transition: all 0.5s;
  }*/

.tab:hover {
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 background: #F0F0F0;


    color: #333;
}
.tab.selected {
  background-color: #F0F0F0;
  color: black;
  cursor: default;
}

#blocks {
/*  margin: 5px 0;*/
  border: 1px solid #E0E0E0;
  font-family: "Lato";
  background-color: #F0F0F0;
  font-weight: 300;
  font-size: 15px;
  color: #333;
  position: relative;
  height: auto;
  overflow: hidden;
}


#block-slider {
  width: 300%;
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
#block-slider.move-0 {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%);
}
#block-slider.move-1 {
  -webkit-transform: translateX(-33%);
  -moz-transform: translateX(-33%);
  -ms-transform: translateX(-33%);
  -o-transform: translateX(-33%);
  transform: translateX(-33%);
}
#block-slider.move-2 {
  -webkit-transform: translateX(-66%);
  -moz-transform: translateX(-66%);
  -ms-transform: translateX(-66%);
  -o-transform: translateX(-66%);
  transform: translateX(-66%);
}

.block {
  width: 33.33%;
  float: left;
}
.block p {
  /*margin: 20px;*/
}

#menu {
  border: 1px solid #E0E0E0;
  display: inline-block;
  padding: 10px;
  overflow: hidden;
}



/****************careers sections****************/


.s{
  height: 45vh;
  width: 100%;
    background-color: #292c2f;
}
   .s-bg-skewed {
       transform: skew(0deg,5deg);
       padding: 5em 0;
   }
    .s-content {
  transform: skew(0deg,-5deg);
    font-size: 1.4em;
    color: #fefefe;

   }
.s_us_text{
  margin-top: 0px;
  margin-bottom: 100px;
}
@media only screen and (min-width: 40.063em) {
    .about_us_text{
      /*font-size: 16px;*/
    }
   } /* min-width 641px, medium screens */
@media only screen and (max-width: 40em) {
  .s{
    height: 100vh;
  }
  .s_us_text{
    text-align: center;
    font-size: 16px;
  }
}

/*break*/

.break {
  
  background: #292c2f !important;
  color: #fff;
  }

.break1 {
  
  background: #fff; !important;
  color: #292c2f;
  height: auto;
  padding: 30px;

  }

  .career{
  display: inline-block;
  font-family: libel-suit-rg;
  max-width: 100%;
  padding: 5px;
  width: 200px;
  text-align: center;
  border-radius: 25px;
  font-size: 2rem;
  letter-spacing: 2px;
  border: 1px solid #fff;
  background-color:#F0F0F0 ;
  color: #292c2f;
  transition: all .2s ease;
}
.career:hover{
  background-color:#292c2f;
  color: #F0F0F0;
}
.career a{
  color:rgb(65, 65, 65);
  font-family: libel-suit-rg;
  margin-top: 5px;

}



/* Testimonials Section */
  
  #testimonials {
  background: linear-gradient( to bottom,
    rgba(255,255,255,0.85),
    rgba(0,0,0,0.35)
  ),url("../assets/c.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0px 0px, 50% 50%;
  color: #fff;
  

   /*background-color: #fff;
    background-image: -webkit-radial-gradient(50% 100% circle, rgba(0, 0, 0, 0.5) 1%, rgba(0, 0, 0, 0.81) 91%), url("../assets/c.jpg");
    background-image: radial-gradient(circle at 50% 100%, rgba(0, 0, 0, 0.5) 1%, rgba(0, 0, 0, 0.81) 91%), url("../assets/c.jpg");
    background-position: 0px 0px, 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #ffffff;*/
  }
  
  #testimonials .overlays {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.8)), color-stop(17%, rgba(0, 0, 0, 0.73)), color-stop(35%, rgba(0, 0, 0, 0.66)), color-stop(62%, rgba(0, 0, 0, 0.55)), color-stop(100%, rgba(0, 0, 0, 0.4)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#66000000', GradientType=0);
    /* IE6-9 */
    padding: 80px 0;
    background-attachment: fixed;
  }
  
  #testimonial {
    padding: 30px 0;
  }

  .overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFElEQVQIW2NkYGD4z8DAwMjIAAUADikBA/ggJToAAAAASUVORK5CYII=) repeat;
}

  
  #testimonial .item {
    display: block;
    width: 100%;
    height: auto;
  }
  
  #testimonial .item p {
    font-weight: 400;
    margin: 30px 0;
    color: #fff;
  }

  .owl-theme .owl-controls .owl-page span {
    display: block;
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    filter: Alpha(Opacity=1);
    opacity: 1;
    -webkit-border-radius: 0;
    -moz-border-radius: 20px;
    border-radius: 0;
    background: #FFFFFF;
    transition: all 0.5s;
  }
  
  .owl-theme .owl-controls .owl-page.active span,
  .owl-theme .owl-controls.clickable .owl-page:hover span {
    filter: Alpha(Opacity=100);
    opacity: 1;
    background: #333;
  }
  
  .owl-theme .owl-controls .owl-page.active span {
    background: #333;
  }



  /* Contact Section */
  #tf-contact {
    padding: 80px 0;
    padding-top: 22vh;
    height: auto;
    font-size: 0.9em;

  }
  
  label {
    float: left;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
  }
  
  #tf-contact .form-control {
    display: block;
    width: 100%;
   
    font-size: 15px;
    line-height: 30px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
  
  #tf-contact .form-control:focus {
    border-color: inherit;
    outline: 0;
    -webkit-box-shadow: transparent;
    box-shadow: transparent;
  }

  button.btn.tf-btn.btn-default {
    float: right;
    background: #333;
    border: 0;
    border-radius: 0;
    padding: 10px 40px;
    color: #ffffff;
    font-family: libel-suit-rg;
    font-size: 1.5em;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  .btn:active,
  .btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
  .btn:focus,
  .btn:active:focus,
  .btn.active:focus,
  .btn.focus,
  .btn:active.focus,
  .btn.active.focus {
    outline: thin dotted;
    outline: none;
    outline-offset: none;
  }



.contactlinks a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}


.space1{
    margin-top: 10px;
  }

  /* Footer */
  
  nav#footer {
    background: #222222;
    color: #ffffff;
    padding: 20px 0 15px 0;
  }
  
  nav#footer .fnav {
  font-family:Lato;
  }
  
  ul.footer-social li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav#footer p {
   font-size: 12px !important;
    margin-top: 10px;
  }

  .footer-icons{
  float: right;
}


 .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

  


.black{
  color: #000;
}


.contactpush{
  padding-left: 50px;
}

.contactextra{
  font-size: 1em;
  font-weight: 600;
}

.extra{
  font-size: 1em;
  font-weight: 600;
}

/*contact section*/


@media only screen and (min-width: 320px) {

  .blog .row {
    margin-top: -30px;
     background: #fff;
     margin-bottom: -30px;

  font-size: 18px !important;
  } 

  

.contactblock{
padding-top: 80px;
padding-right: 10px;
padding-bottom: 80px;
}

.icon .img {
    font-size: 40px;
    /*border: 1px solid #fff;*/
    width: 150px;
    height: 150px;
   
    margin-bottom: 10px;
    border-radius: 50%;
    transition: all 0.5s;

  }




.icon i.fa {
    font-size: 40px;
    border: 1px solid #FCAC45;
    width: 100px;
    height: 100px;
    padding: 27px 25px;
    margin-bottom: 10px;
    border-radius: 50%;
    transition: all 0.5s;

  }
  
  
  
   .icon:hover>i.fa {
    background: #FCAC45;
    color: #ffffff;
  }















